.MuiDrawer-paperAnchorRight{
  width: 240px !important;
  padding-left: 15px;
}
.background-img{
  height: 50vh;
  background-image: url(https://global-uploads.webflow.com/5f522db73802df6f2b58cd58/600f28bd699561c466e34739_start-a-blog-for-your-eCommerce-website-hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.css-cuefkz-MuiContainer-root {
   max-width: unset!important;
}
.d-flex{
  display: flex;
}